/* You can add global styles to this file, and also import other style files */

a.nav-link {
    color: white !important;
}

button {
    background: #1976d2;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
}